
body{
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    height: 50%;
}
#container{
    background-color: blueviolet;
    width: 80%;
    height: 80%;
    margin: 5px;
    padding: 20px;
}
#submitguess{
    background-color: red;
    height: 30px;

font-style: oblique;
font-weight: bolder;

}

